{% extends 'base.html'%}
{% load group_filter %}
{% load static %}
{% block content %}

    <!-- if staff user -->
    <section id="car-details">
{#        {% if request.user.is_superuser or request.user|has_group:"accountant" %}#}
{#            {% if unpaid %}#}
{#            <h1>#}
{#                Payments for confirmation#}
{#            </h1>#}
{#            <div class="info-section">#}
{##}
{#                {%  for payment in payments %}#}
{#                    {% if not payment.paid %}#}
{#                    <h1>#}
{#                            You made payments, not paid yet#}
{#                        </h1>#}
{#                        <a href="{% url 'details payment' pk=payment.pk %}" >#}
{#                            Kid: {{ payment.kid.first_name }}#}
{#                            Type: {{ payment.model_name }}#}
{#                            Period: {{ payment.period_billed }}#}
{#                            Tax: {{ payment.tax_per_kid }}#}
{#                            Generated: {{ payment.generated_date }}#}
{#                            Status:#}
{#                            {% if payment.paid %}#}
{#                                Paid#}
{#                            {% elif payment.confirmed_by_user %}#}
{#                                Pending#}
{#                            {% else %}#}
{#                                To be paid#}
{#                            {% endif %}#}
{#                        </a>#}
{#                    {% if not payment.paid %}#}
{#                        {% if payment.confirmed_by_user %}#}
{#                        <button>#}
{#                            <a href="{% url 'confirm paid' payment.pk %}" >#}
{#                                Confirm Payment#}
{#                            </a>#}
{#                        </button>#}
{#                    {% endif %}#}
{#                    {% endif %}#}
{#                    {% endif %}<br>#}
{##}
{#                {% endfor %}#}
{#            </div>#}
{#            <h1>#}
{#                Orders for confirmation#}
{#            </h1>#}
{#        {% endif %}#}
{#    {% endif %}#}
        {% if is_owner %}
            {% if unpaid %}
                <h1>
                    You have pending payment
                </h1>
                <div class="info-section">
                    {%  for payment in object.user.payment_parent.all %}
                        {% if not payment.paid %}
                            <a href="{% url 'details payment' pk=payment.pk %}" >
                                Kid: {{ payment.kid.first_name }}
                                Type: {{ payment.model_name }}
                                Period: {{ payment.period_billed }}
                                Tax: {{ payment.tax_per_kid }}
                                Generated: {{ payment.generated_date }}
                                Status:
                                {% if payment.paid %}
                                    Paid
                                {% elif payment.confirmed_by_user %}
                                    Pending
                                {% else %}
                                    To be paid
                                {% endif %}
                            </a>
                            {% if not payment.confirmed_by_user %}
                            <button>
                                <a href="{% url 'confirm payment' payment.pk %}" >
                                    Pay Now
                                </a>
                            </button>
                                {% endif %}<br>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
        <h1>
            Profile Details
        </h1>
        <div class="info-section">
            <div class="car-header">
                {% if is_owner %}
                <!-- default profile image (if the user does NOT have any)-->
                {% if not object.profile_image %}
                    <img class="car-img" src="{% static '/images/default-profile.png' %}" alt='profile-image'/>
                    <!-- if the user has a profile image -->
                {% else %}
                    <img class="car-img" src="{{ object.profile_image.url }}" alt='profile-image'/>
                {% endif %}

                <h1>
                    {% if object.first_name %}
                        {{ object.first_name }}
                    {% endif %}
                    {% if object.last_name %}
                        {{ object.last_name }}
                    {% endif %}
                </h1>
                <div class="buttons">
                    <a href="{% url 'add kid' %}" class="edit-button">
                        Add Kid
                    </a>
                </div>


                <!-- user email -->
                <p class="description">
                    Email: {{ object.user.email }}
                </p>
                <!-- user gender -->
                {% if object.gender %}
                    <p class="description">
                        Gender: {{ object.gender }}
                    </p>
                {% endif %}
                <!-- user phone number -->
                <p class="description">
                    Phone number: {{ object.phone_number }}
                </p>

                <!-- Edit/Delete buttons -->
                <div class="buttons">
                    <a href="{% url 'edit user' pk=object.pk %}" class="edit-button">
                        Edit
                    </a>
                    <a href="{% url 'delete user' pk=object.pk  %}" class="delete-button">
                        Delete
                    </a>
                </div>
                    </div>
                    </div>
                {% endif %}
        <h1>
            Kids Details
        </h1>
        {% for kid in object.user.kid_set.all %}
            <div class="info-section">
                <div class="car-header">
                    {% if not kid.profile_picture %}
                        <div>
                            <a href="{%  url 'details kid' kid_slug=kid.slug uid=object.user.id %}">
                                <strong>
                                    {{ kid.first_name }}
                                </strong>
                            </a>
                        </div>
                        <!-- if the user has a profile image -->
                    {% else %}
                        <div>
                            <a href="{%  url 'details kid' kid_slug=kid.slug uid=object.user.id %}">
                                <img class="car-img2" src="{{ kid.profile_picture.url }}" alt='{{ kid.first_name }}' />
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div><br>
        {% endfor %}
        {% if items_for_sale %}
            <h1>
                Items for Sale
            </h1>
        {% endif %}
        {% for item in object.user.useditem_set.all %}
            <div class="info-section">
                <div class="car-header">
                    {% if item.photo %}
                        <div>
                            <a href="{%  url 'details used item' pk=item.pk %}">
                                <img class="car-img2" src="{{ item.photo.url }}" alt='{{ item.slug }}'/>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% if not_received_orders %}
        <h1>
            Orders Made
        </h1>
    {% endif %}
        {% for order in not_received_orders %}
            <div class="info-section">
                <div class="car-header">
                    {% if not order.received %}
                        <div>
                            <a href="{%  url 'details order' pk=order.pk %}">
                                <h2>
                                    Order details:
                                </h2><hr>
                                {% if order.item_name %}
                                    Name: {{ order.item_name }};
                                {% endif %}
                                Item: {{ order.category }};
                                Quantity: {{ order.quantity }}
                                Sent: {{ order.sent }}
                                Received: {{ order.received }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% if paid  %}
        <h1>
            Archive Payments
        </h1>

        {%  for payment in object.user.payment_parent.all %}
            <div class="info-section">
                <div class="car-header">
                    {% if payment.paid %}
                        <a href="{% url 'details payment' pk=payment.pk %}" >
                            <h2>
                                Payment details:
                            </h2><hr>
                        Kid: {{ payment.kid.first_name }}
                        Type: {{ payment.model_name }}
                        Period: {{ payment.period_billed }}
                        Tax: {{ payment.tax_per_kid }}
                        Generated: {{ payment.generated_date }}
                        Status:
                            {% if payment.paid %}
                                Paid on {{ payment.confirmed_by_user }}
                            {% else %}
                                Pending
                            {% endif %}
                        Confirmed at:
                            {% if payment.paid %}
                                {{ payment.confirmed_by_staff }}
                            {% else %}
                                Not confirmed
                            {% endif %}
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </section>


    <!-- footer -->
{% endblock %}
