{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- profile details section -->
    <div class="container">
        <div class="col-9">
            <div class="card">
                <div class="top">
                    <div class="userDetails">
                        <h3><br>
                            <!-- IF the photo has location -->
                            {% if item.location %}
                                <span>
                                    Located in: {{ item.location }}
                                </span>
                            {% endif %}<br>
                            <!-- IF the photo has category -->
                            {% if item.category %}
                                <span>
                                    Category: {{ item.category }}
                                </span>
                            {% endif %}<br>
                            <!-- IF the photo has ages -->
                            {% if item.ages %}
                                <span>
                                    Age Group: {{ item.ages }}
                                </span>
                            {% endif %}<br>

                            <!-- IF the photo has sizes -->
                            {% if item.size %}
                                <span>
                                    Size: {{ item.size }}
                                </span>
                            {% endif %}<br>

                            <!-- IF the photo has gender -->
                            {% if item.gender %}
                                <span>
                                    Gender: {{ item.gender }}
                                </span>
                            {% endif %}<br>
                            <div class="imgBx" id="place the id of the photo here" >
                                <img src="{{ item.photo.url }}" alt="photo of the item " class="cover" width="350px">
                            </div>
                            <!-- IF the photo has description -->
                            {% if item.description %}
                                <span>
                                    Description: {{ item.description }}
                                </span>
                            {% endif %}

                            <div class="edit-delete-shop-btns">
                                <!-- if user is owner -->
                                {% if is_owner %}
                                <a href="{% url 'edit used item' item.pk %}">
                                    <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}"
                                         alt="edit button" width="40px">
                                </a>
                                <!-- if user is staff -->
                                <a href="{% url 'delete used item' item.pk %}">
                                    <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}"
                                         alt="bin button" width="40px">
                                </a>
                                    <a class="btn submit" href="javascript:history.back()" type="submit">
                                        Go Back</a>
                                {% else %}
                                    <a href="{% url 'contact seller' item.pk %}" >
                                        Contact Seller
                                        <img class="bin-img" src="{% static 'images/shopping-basket-xxl.png' %}"
                                         alt="shop button">
                                    </a>
                                    <a class="btn submit" href="javascript:history.back()" type="submit">
                                        Go Back
                                    </a>
                                {% endif %}
                            </div>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
{% endblock %}