{% extends 'base.html'%}
{% load group_filter %}
{% block content %}

    <!-- create profile form -->
    <section id="register-page" class="content auth">
        <form id="register" method="post" action="{% url 'register user' %}" enctype="multipart/form-data">
            <div class="container">
                <div class="brand-logo"></div>
                <h1>Pomarina Scouts</h1>
                {{ form.as_p }}
                {% csrf_token %}
                <input class="btn submit" type="submit" value="Register">
            </div>
        </form>

    </section>

    <!-- footer -->
{% endblock %}