{% extends 'base.html'%}
{% load group_filter %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="col-9">
            <section id="catalogue">

                <section id="car-details">

                <h1>
                    Scout Store
                </h1>

                </section>
                <div class="car-card">

                    <div class="image-wrap">
                        <!-- item image -->
                        <img src="{%  static 'images/new.jpg' %}" alt=" new products ">
                    </div>

                <!-- item count -->
                    <h3>
                        Total items: {{ count_of_items }}
                    </h3>

                    <div class="details-buttons">
                        <!-- item details button if staff-->
                        <a href="{% url 'scout store new' %}" class="details-btn">
                            Shop New Items
                        </a>
                    </div>

                </div>

                {% if request.user.is_authenticated %}
                <div class="car-card">

                    <div class="image-wrap">
                        <!-- item image -->
                        <img src="{% static 'images/used.jpg' %}" alt="used products">
                    </div>

                <!-- item count -->

                    <h3>
                        Total items: {{ count_of_used_items }}
                    </h3>

                    <div class="details-buttons">
                        <!-- item details button if staff-->
                        <a href="{% url 'scout store used' %}" class="details-btn">
                            Trade Used Items
                        </a>
                    </div>

                </div>
                {% endif %}

            </section>
        </div>
    </div>
    <!-- footer -->
{% endblock %}

