{% extends 'base.html'%}
{% load static %}
{% block content %}

    <!-- profile details section -->
    <section id="car-details">

        {% if is_owner %}
            <h1>Welcome,</h1>
            <!-- user full name (if any) -->
            <h1>{% if object.first_name %}{{ object.first_name }}{% endif %}
                {% if object.last_name %}{{ object.last_name }}{% endif %}</h1>
        {% endif %}
        {% if not messages %}
            <h2>You have no new messages.</h2>
        {% else %}
            <br>
            {% for message in messages %}
                <div>

                </div><br>
            {% endfor %}
        {% endif %}

    </section>

    <!-- footer -->
{% endblock %}