{% load group_filter %}
{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Pomarina Scouts - error page 404</title>
    <link rel="stylesheet" href="{% static '/style/style1.css' %}"/>
    <link rel="icon" type="image/x-icon" href="{% static '/images/favicon.ico' %}">
    <title>
        Pomarina Scouts
    </title>

</head>
<body>
<header class="top-header">
</header>

<!--dust particel-->
<div>
  <div class="starsec"></div>
  <div class="starthird"></div>
  <div class="starfourth"></div>
  <div class="starfifth"></div>
</div>
<!--Dust particle end--->

<div class="lamp__wrap">
  <div class="lamp">
    <div class="cable"></div>
    <div class="cover"></div>
    <div class="in-cover">
        <div class="bulb">
        </div>
    </div>
    <div class="light"></div>
  </div>
</div>
<!-- END Lamp -->
<section class="error">
  <!-- Content -->
  <div class="error__content">
    <div class="error__message message">
        <div class="homepage">
            <a href="{% url 'index' %}" >
                <img class="homepage" src="{% static '/images/orel.png' %}" alt="scout" width="50px" href="{% url 'index' %}" />
            </a>
            <p class="img__description">
                Return to Pomarina Scouts
            </p>
        </div>
{#        <a href="{% url 'index' %}" ><img class=homepage src="{% static '/images/orel.png' %}" alt="scout" width="50px" href="{% url 'index' %}"></a>#}
      <h1 class="message__title">
          Page Not Found
      </h1>
      <p class="message__text">
          We're sorry, the page you were looking for isn't found here. The link you followed may either be broken or no longer exists. Please try again.
      </p>
    </div>
{#    <div class="error__nav e-nav">#}
{#      <a href="{% url 'index' %}" class="e-nav__link" ></a>#}
{#    </div>#}
  </div>
  <!-- END Content -->
</section>

<!-- partial -->

</body>
</html>
