{% load group_filter %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/style/style.css' %}"/>
    <link rel="icon" type="image/x-icon" href="/media/admin-interface/favicon/favicon.ico">
    <title>
        Pomarina Scouts
    </title>
</head>

<body>
<div id="box">
    <header>
        <!-- Navigation Bar -->
        <h1>
            <img src="{% static '/images/orel.png' %}" alt="scout" width="50px">
            <a class="index-navigation" href="{% url 'index' %}">
                <span>Pomarina</span>
{#                <span>S</span>couts#}
            </a>
            <img src="{% static '/images/scouts-stack-white.svg' %}" alt="scout" width="60px">
        </h1>
        <a class="index-navigation">
            <nav>
                <a href="{% url 'contacts' %}">
                    About Us
                </a>
                <a href="{% url 'for parents' %}">
                    For parents
                </a>
                <a href="{% url 'scout store' %}">
                    Scout Store
                </a>

            {% if not request.user.is_authenticated %}
                <a href="{% url 'register user' %}">
                    Join Scouts
                </a>
                <a href="{% url 'login user' %}">
                    Sign In
                </a>
            {% else %}


            {% if request.user.is_staff %}
                <a href="{% url 'admin:index' %}">
                    Admin
                </a>
                {% if request.user.is_superuser or request.user|has_group:"marketplace" %}
                    <a href="{% url 'orders all' %}">
                        Orders
                    </a>
                    <a href="{% url 'add item' %}">
                        Add Item
                    </a>
                {% endif %}
                {% if request.user.is_superuser or request.user|has_group:"accountant" %}
                    <a href="{% url 'add payment' %}">
                        Make Payment
                    </a>
                {% endif %}
            {% endif %}

                <a href="{% url 'add used item' %}">
                    Trade Item
                </a>
                <a href="{% url 'details user' pk=request.user.pk %}">
                    Profile
                </a>
                <a href="{% url 'logout user' %}">
                    Sign Out
                </a>
            {% endif %}
            </nav>
        </a>
    </header>

    {% block content %}

    {% endblock %}

    <!-- footer -->
    <footer>
        &copy;Pomarina Scouts 2022. All rights reserved.
    </footer>

</div>
</body>
</html>