{% extends 'base.html'%}
{% load static %}
{% block content %}
<section class="content-grid container">
    <div class="row">
        <div class="col-12 col-sm-12 offset-sm-0 col-md-8 offset-md-0 pr-md-4 col-lg-8 offset-lg-0 col-xl-6 offset-xl-1">
            <div class="content-root">
                <h1>What do Scouts do?</h1>
<h3>Scouts is where young people make new friends, have amazing adventures, and learn new skills.</h3>

                <p>Scouts are do-ers and give-it-a-go-ers. Yes, we go camping, hiking, swimming, abseiling,
                    cycling and canoeing. But we also get to hang out with our friends every week – having fun,
                    playing games, working in a team and taking on new challenges.</p>

                <p>Every week we give almost half a million 4-25 year olds the skills they need for school, college,
                    university, the job interview, the important speech, the tricky challenge and the big dreams: the
                    skills they need for life.</p>

                <p>Everyone’s welcome here. All genders, races and backgrounds. Regardless of your child’s physical
                    ability – there’s a Scout adventure out there waiting for them. And we’ll help them find it.</p>

                <p><a href="{% url 'register user' %}" >Sign up</a> to help your child discover their ‘thing’: from abseiling to coding to performance art and
                    everything in between.</p>
            </div>
            <div class="content-root">
                <h1>Uniform and costs</h1>
                <h3>Our uniform gives everyone in Scouts a sense of belonging.</h3>
            <p>Wearing a uniform is comfy and practical. It means no one feels uncomfortable or left out and helps
                    everyone feel part of the group.</p>

<p>Our uniform consists of a sweatshirt that you can sew badges on and a coloured scarf or 'necker’ to represent your
    local group. There're lots of other optional accessories you can wear such as hats, hoodies, trousers or shorts.</p>

                <h3>Scouts uniform</h3>
<p>A uniform can either be bought from our online shop - <a href="{% url 'scout store' %}" >Scout Store </a>- or from a local supplier. If you’re not sure
    where to start, leaders can give you more information about what to buy and where to buy it. They may even know
    if someone is selling a uniform second hand. There may be grants available locally to help you buy a uniform, ask
    your leader for more details.</p>

                <h3>Costs</h3>
<p>Each group charges a fee (called subscriptions or subs) to cover the costs of running regular meetings. This covers
    venue hire, insurances and materials for activities. There're sometimes extra charges for special activities,
    camps and events. We try to keep our subs as low as possible. so that anyone can come to Scouts. If you need help
    paying subs, please speak to your leader.</p>
            </div>
        </div>
    </div>
{% endblock %}