{% extends 'base.html'%}
{% load static %}
{% block content %}

    <!-- profile kid details section -->
    <section id="car-details">
    {% if is_owner %}
        <h1>
            Kid Details
        </h1>
        <div class="info-section">
            <div class="car-header">
                <!-- default profile image (if the users kid does NOT have any)-->
               {% if not kid.profile_picture %}
                   <img class="car-img" src="{% static '/images/default-profile.png' %} " alt='{{ kid.first_name }}'/>
                   <!-- if the users kid has a profile image -->
               {% else %}
                   <img class="car-img" src="{{ kid.profile_picture.url }}" alt='{{ kid.first_name }}'/>
               {% endif %}
                <!-- users kid full name (if any) -->
                <h1>{% if kid.first_name %}
                    {{ kid.first_name }}
                {% endif %}
                    {% if kid.last_name %}
                        {{ kid.last_name }}
                    {% endif %}
                </h1>
                <div class="buttons">
                    <a class="btn submit" href="{% url 'details user' pk=kid.users.pk %}" type="submit">
                        Go to Profile
                    </a>
                </div>
                <!-- users kid phone -->
                {% if kid.phone_number %}
                    <p class="description">
                        Phone Number: {{ kid.phone_number }}
                    </p>
                {% else %}
                    <p class="description">
                        Parent Phone Number: {{ kid.parent_phone }}
                    </p>
                {% endif %}
                <!-- users kid gender -->
                {% if kid.gender %}
                    <p class="description">
                        Gender: {{ kid.gender }}
                    </p>
                {% endif %}
                <!-- users kid age -->
                <p class="description">
                    Age:
                    {% if kid.age %}
                        {{ kid.age }}
                    {% endif %}
                </p>
                <!-- Edit/Delete buttons -->
                <div class="buttons">
                    <a href="{% url 'edit kid' uid kid_slug %}" class="edit-button">
                        Edit
                    </a>
                    <a href="{% url 'delete kid' uid kid_slug %}" class="delete-button">
                        Delete
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    </section>

{% endblock %}